.DS_Store
# 先全局忽略整个 node_modules
node_modules/

# 例外：保留你要提交的特定目录（路径写完整）
!node_modules/vosk/

/dist
/examples
/plugin
/src/examples/outputDir


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
